.header-parent {

    .summary-button {
        display: inline-block;
        border-radius: 20px;
        padding: 0px 10px 5px;
        border: 1px solid $page-blue-light;
        margin-top: -6px;
        width: 160px;

        &:hover, &:focus {
            background-color: $page-blue-light;
        }

        .glyphicon {
            color: $table-gray-gamma;
            font-size: 2em;
            height: 20px;
            overflow: hidden;
        }
    }
}