<div class="header-parent navbar-fixed-top">

    <ul class="breadcrumb-group">
        <li><a href="#">Overview</a></li>
        <li><a href="#" class="text-capitalize">{{::vm.url}}</a></li>
        <li><a href="#">#{{::vm.title}}</a></li>
    </ul>

    <div class="header-title">
        <span class="header-focus">{{::vm.titleHeader}} #{{::vm.title}}</span>

        <div
            class="summary-button clickable pull-right"
            ng-click="vm.toggleSummary()">
            <span
                class="glyphicon"
                ng-class="vm.isShown ? 'icon-eye' : 'icon-eyeshut'">
            </span>
            {{vm.isShown ? 'Hide Summary' : 'Show Summary'}}
        </div>
    </div>

</div>