@media (min-width:768px) {
    .step-decks > .step-deck {
        overflow-x: auto;
        white-space: nowrap;
    }
    .step-decks > .step-deck [class*="col-lg"],
    .step-decks > .step-deck [class*="col-md"],
    .step-decks > .step-deck [class*="col-sm"] {
        float: none;
        display: inline-block;
        vertical-align: top
    }
}

.add-step-multiselect .dropdown-parent {
    margin-top: -13px;
}

.portfolio-update-btn {
    width: 140px;
    height: 25px;
    background-color: $button-red;
    padding: 3px 6px 3px 6px;
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.step-decks {
    background-color: $table-gray-alpha;
    padding: 30px;
    .step-card {
        min-height: 420px;
        margin-right: 20px;
        background-color: $white;
        .step-detail {
            padding: 10px;
        }
        .step-info {
            padding: 10px;
            &.step-order {
                color: $icon-blue;
                font-size: 1.5em;
            }
        }
        .step-text {
            color: $text-gray-light;
        }
        .step-header-text {
            color: $text-blue;
        }
        .avatar {
            color: $white;
            padding: 4px;
            border-radius: 50%;
        }
        .Operations {
            border-bottom: 5px solid $dept-operations;
            &.avatar {
                background-color: $dept-operations;
                border-bottom: none;
            }
        }
        .Middle.Office, .MiddleOffice {
            border-bottom: 4px solid $dept-middle-office;
            &.avatar {
                background-color: $dept-middle-office;
                border-bottom: none;
            }
        }
        .Front.Office, .FrontOffice {
            border-bottom: 4px solid $dept-front-office;
            &.avatar {
                background-color: $dept-front-office;
                border-bottom: none;
            }
        }
        .step-user-info {
            .step-user-department {
                margin-left: 33px;
            }
            .step-user-name {
                margin-left: 8px;
                color: $text-blue;
            }
        }
        .positive {
            background-color: $text-positive;
        }
        .negative {
            background-color: $text-negative;
        }
        .pnl-tag {
            padding: 2px 10px 2px 10px;
            color: $white;
            border-radius: 5px;
        }
    }
    .add-step-icon {
        font-size: 24px;
        line-height: 400px;
    }
    .step-changelog {
        max-height: 120px;
        overflow-y: auto;
    }
}
