<div class="header-parent navbar-fixed-top">
    <ul class="breadcrumb-group">
        <li><a href="#">Scenarios</a></li>
        <li>
            <a href="#">Scenario # {{vm.scenarioData.scenarioId}}</a>
        </li>
    </ul>
    <div class="header-title">
        <span class="header-focus" ng-if="(vm.scenarioData.scenarioName)">{{vm.scenarioData.scenarioName}}</span>
        <span class="header-focus">-</span>
        <span class="header-focus step-text">{{vm.scenarioData.steps.length}} Steps</span>
        <span id="create-step-btn" class="portfolio-update-btn text-bold" data-toggle="modal" data-target="#addStepModal">New Step</span>
        <tmpl-goToStep></tmpl-goToStep>
    </div>
</div>
<section class="container-fluid">
    <div class="row step-decks">
        <div class="row-height step-deck">
            <div class="col-md-3 nopadding step-card border-all" ng-repeat="data in vm.scenarioData.steps">
                <div ng-click="vm.goToStep(data)" class="border-bottom nopadding clickable clearfix {{data.department}}">
                    <div class="text-bold step-info col-md-3 nopadding step-order border-right  centered-text">
                        {{data.stepOrder}}
                    </div>
                    <div class="step-info step-text nopadding col-md-9 step-name">
                        {{data.stepName}}
                    </div>
                </div>
                <div class="border-bottom nopadding step-detail step-user-info">
                    <div>
                        <span class="avatar glyphicon icon-profile {{data.department}}"></span>
                        <span class="step-user-name text-bold">{{data.lastModifiedBy}}</span>
                    </div>
                    <div class="step-user-department step-text">
                        <span>{{data.department}}</span>
                    </div>
                </div>
                <div class="border-bottom nopadding step-detail clearfix">
                    <div ng-if="(data.oldPnl && data.newPnl)">
                        <div style="float:left;">
                            <span style="font-size: 16px" class="glyphicon glyphicon-usd"></span>
                            <span style="font-size: 20px">{{data.newPnl | number}}</span>
                        </div>
                        <div class="pull-right">
                            <span class="pnl-tag" ng-class="{positive: (data.newPnl - data.oldPnl) >= '0', negative: (data.newPnl - data.oldPnl) < '0'}">{{((data.newPnl - data.oldPnl)*100)/data.oldPnl | number:2}} %</span>
                        </div>
                    </div>
                    <div ng-if="!(data.oldPnl && data.newPnl)" class="step-text text-bold centered-text">
                        P/L Data Unavailable
                    </div>
                </div>
                <div class="border-bottom nopadding">
                    <table ng-if="data.risk && data.risk.length" class="table table-hovered risk-table centered-text">
                        <thead class="header">
                            <tr>
                                <th class="table-cell centered-text">OIL</th>
                                <th class="table-cell centered-text">GAS</th>
                                <th class="table-cell centered-text">LNG</th>
                                <th class="table-cell centered-text">COAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="risk in data.risk">
                                <td class="table-cell" row="{{$index}}" ng-class="  {variationPositive: (risk.oil) > '0', variationNegative: (risk.oil) < '0'}">{{risk.oil}}</td>
                                <td class="table-cell" row="{{$index}}" ng-class="{variationPositive: (risk.gas) > '0', variationNegative: (risk.gas) < '0'}">{{risk.gas}}</td>
                                <td class="table-cell" row="{{$index}}" ng-class="{variationPositive: (risk.lng) > '0', variationNegative: (risk.lng) < '0'}">{{risk.lng}}</td>
                                <td class="table-cell" row="{{$index}}" ng-class="{variationPositive: (risk.coal) > '0', variationNegative: (risk.coal) < '0'}">{{risk.coal}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="!(data.risk && data.risk.length)" class="step-detail step-text text-bold centered-text">
                        Risk Data Unavailable
                    </div>
                </div>
                <div class="nopadding">
                    <div class="step-header-text border-bottom step-detail text-bold">CHANGELOG</div>
                    <div ng-if="(data.logs && data.logs.length)" class="step-changelog">
                        <table class="table table-hovered border-bottom risk-table centered-text">
                            <thead class="header">
                                <tr>
                                    <th class="table-cell centered-text">ID</th>
                                    <th class="table-cell centered-text">TIME</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="logs in data.logs">
                                    <td class="table-cell centered-text">{{logs.transactionId}}</td>
                                    <td class="table-cell centered-text">{{logs.date | date:'longDate'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="!(data.logs && data.logs.length)" class="border-bottom step-detail step-text text-bold centered-text">
                        No Changes for this Step
                    </div>
                </div>
            </div>
            <div class="clickable col-md-3 nopadding step-card border-all" data-toggle="modal" data-target="#addStepModal">
                <div class="add-step-icon centered-text">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Add a Step</span>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="myModalLabel" class="modal fade" id="addStepModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content no-radius">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Step</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" novalidate name="createStepform">
                        <div class="form-group">
                            <label for="stepName" class="col-sm-2 control-label">Step Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="stepName" placeholder="Name" name="stepName" ng-model="vm.step.stepName" required>
                                <div class="error" ng-show="createStepform.stepName.$dirty && createStepform.stepName.$invalid">
                                    <small class="error" ng-show="createStepform.stepName.$error.required">Step name is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="stepOrder" class="col-sm-2 control-label">Step Order</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="stepOrder" placeholder="Order" name="stepOrder" ng-model="vm.step.stepOrder" required disabled>
                                <div class="error" ng-show="createStepform.stepOrder.$dirty && createStepform.stepOrder.$invalid">
                                    <small class="error" ng-show="createStepform.stepOrder.$error.required">Step Order is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group add-step-multiselect" ng-if="vm.linkageIds && vm.linkageIds.length">
                            <label for="stepLinkages" class="col-sm-2 control-label">Linkages</label>
                            <div class="col-sm-6">
                                <multiselect-dropdown header="'Purchase | LinkageId | Sale'" option-data="vm.linkageIds" selected-events="vm.linkageSelectCallback">
                                </multiselect-dropdown>
                            </div>
                        </div>
                        <div class="form-group add-step-multiselect" ng-if="vm.transactionIds && vm.transactionIds.length">
                            <label for="stepTransactions" class="col-sm-2 control-label">Unlinked Transactions</label>
                            <div class="col-sm-10">
                                <multiselect-dropdown header="'Transaction Type | Id | Origin/Destination/Vessel/Cost Type'" option-data="vm.transactionIds" selected-events="vm.transactionSelectCallback">
                                </multiselect-dropdown>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" ng-click="vm.addStepToScenario()" class="btn btn-success" value="Add Step" ng-disabled="createStepform.$invalid" data-dismiss="modal">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default button-reset" data-dismiss="modal" type="button">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
