.portfolio-parent {

    .grid-table {
        background-color: $table-gray-alpha;
        padding: 0;

        .data-grid {
            // Using viewport values of CSS to get the height right.
            // 329px is combined height of all elements which is needed on screen apart from portfolio grid
            max-height: calc(100vh - 329px);
            overflow: auto;
        }

        .grid-pill-container {
            height: 45px;
            padding: 0 15px;
            li {
                height: inherit;
                a {
                    margin-top: 10px;
                    padding: 3px 15px;
                    background-color: $button-gray;
                    color:$white;
                    cursor: pointer;

                    &:hover {
                        background-color: $button-gray-hover;
                    }
                }
            }
            .active {
                a {
                    background-color: $button-blue-dark;

                    &:hover {
                        background-color: $button-blue-dark-hover;
                    }
                }
            }
        }

        .dropdown-parent {
            .multi-dropdown-caret {
                border-left: 1px solid $border-color;
            }
        }

        .dropdown-parent.open {
            .multi-dropdown-caret {
                border-left-color: $border-color-dark;
            }
        }

        .grid-table-header {
            background-color: $table-gray-gamma;
        }

        .grid-table-cell {
            height: 35px;
            line-height: 35px;
        }

        .grid-linkage {
            border-left: 3px solid transparent;

            &.highlighted {
                border-left: 3px solid $button-blue-dark;
            }
        }

        .grid-table-cell-large {
            height: 60px;
            line-height: 60px;
        }

        .on-drag-hover {
            border: 1px solid $border-color-dark;
        }

    }

    .create-link {
        color: $button-gray;
        height: 35px;
        &:hover {
            color: $button-gray;
        }
        span {
            margin-top: 8px;
            text-align: center;
        }
    }

    .linkage-header {
        background-color: $table-gray-alpha;
        padding: 12px 12px 13px 12px;
        color: $text-blue;
        font-weight: bold;
        height: 45px;
        a {
            color: inherit;
        }
    }

}

.portfolio-grid-card {
    padding: 10px 15px;
    min-height: 135px;

    &.small-height {
        min-height: 95px;
    }

    .header {
        color: $text-blue;
        font-weight: bold;
    }

    .dropdown-parent {
        .multi-dropdown-text {
            padding: 0 10px;
            height: 33px;
            background-color: $table-gray-beta;
            border: 1px solid $border-color;
            width: calc(100% - 30px);
            .glyphicon {
                font-size: 1.5em;
                color: $icon-turquoise;
            }
        }
        .multi-dropdown-caret {
            background-color: $button-blue-lighter;
            width: 30px;
            .caret {
                color:$white;
            }
        }
    }

    .button-div {
        height: 33px;
        margin-top: 10px;
        border: 1px solid $border-color;
        line-height: 33px;
        background: $table-gray-beta;
        .glyphicon {
            padding: 0 0 0 10px;
            font-size: 1.5em;
            margin-top: 3px;
            color: $icon-turquoise;
        }
        .vessel-input {
            height: 31px;
            border: 0;
            background-color: $table-gray-beta;
            &:focus {
                outline: 0;
            }
        }
        .vessel-stamp {
            background: $table-gray-gamma;
            height: 31px;
            border-left: 1px solid $border-color;
            color: $gray-light;
        }
        .span-dropdown-caret {
            height: 31px;
            line-height: 28px;
            background-color: $button-blue-lighter;
            .glyphicon {
                font-size: 0.55em;
                color:$white;
                margin-left: -13px;
            }
        }
    }

    .button-modifier {
        text-align: left;
        background-color:$white;
        border-radius: 4px;
        border: 1px dashed $button-blue-dark;
        color: $button-blue-dark;
    }

    .pull-bottom {
        // margin-top: 55px;
        margin-top: 10px;
    }
}

.portfolio-rpc-container {
    border-style: solid;
    border-color: $border-color;
    border-width: 0px 1px 1px 1px;
    .variationPositive {
        color: $text-positive;
    }
    .variationNegative {
        color: $text-negative;
    }
    .portfolio-column-right {
        .text-padding {
            padding: 10px;
        }
        .portfolio-column-header {
            padding: 10px;
            border-bottom: 1px solid $border-color;
            background-color: $table-gray-gamma;
            font-weight: bold;
            .portfolio-header-text {
                margin: 2px 6px 0px;
                float: left;
                color: $text-blue;
            }
            .portfolio-pnl-tag {
                padding: 2px 10px 2px 10px;
                float: right;
                color:$white;
                border-radius: 5px;
            }
            .portfolio-pnl-tag.positive {
                background-color: $text-positive;
            }
            .portfolio-pnl-tag.negative {
                background-color: $text-negative;
            }
        }
        .portfolio-column-content {
                max-height: 250px;
                overflow-y: auto;
        }
        .portfolio-column-content.chart {
            max-height: 400px;
        }
    }
}

.button-reset {
    border-radius: 3px;
    background-color:$white;
    border: 1px solid $button-red;
    color: $button-red;
}

.button-submit {
    border: 1px solid $button-red;
    border-radius: 3px;
    background-color: $button-red;
}
