<section id="portfolio-view" class="container-fluid portfolio-parent border-bottom">

    <div class="row">

        <div class="row-height">

            <div class="col-md-6 col-md-height col-md-top grid-table border-left border-right">
                
                <ul class="nav nav-pills grid-pill-container border-bottom">
                    <li role="presentation"
                        ng-repeat="y in vm.years"
                        class="active">
                        <a ng-click="vm.getYearBasedData($event)">{{::y.year}}</a>
                    </li>
                </ul>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-4 border-right border-bottom grid-table-cell grid-table-header text-bold">
                            Origin
                        </div>
                        <div class="col-xs-4 border-right border-bottom grid-table-cell grid-table-header text-bold">
                            Linkage
                        </div>
                        <div class="col-xs-4 border-bottom grid-table-cell grid-table-header align-right text-bold">
                            Sale
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-4 nopadding-xs border-right border-bottom grid-table-cell-large">
                            <multiselect-dropdown
                                header="'Any Origin'"
                                option-data="vm.originHeaders"
                                selected-events="vm.originSelectCallback">
                            </multiselect-dropdown>
                        </div>

                        <div class="col-xs-4 nopadding-xs border-right border-bottom grid-table-cell-large">
                            <multiselect-dropdown
                                header="'Any Linkage'"
                                option-data="vm.linkages"
                                selected-events="vm.linkageSelectCallback">
                            </multiselect-dropdown>
                        </div>

                        <div class="col-xs-4 nopadding-xs border-bottom grid-table-cell-large">
                            <multiselect-dropdown
                                header="'Any Destination'"
                                option-data="vm.destinationHeaders"
                                selected-events="vm.destinationSelectCallback">
                            </multiselect-dropdown>
                        </div>
                    </div>
                </div>

                <div class="data-grid">
                    <div class="row nomargin" ng-repeat="data in vm.tableData">
                        <div
                            class="col-xs-4 border-right border-bottom grid-table-cell"
                            ng-class="{'pull-right': vm.isSaleOriented}"
                            ng-style="{height: (data.length * 35) + 'px'}"
                            ui-draggable="false"
                            ui-on-drop="vm.onDrop(data.origin, 'origin')">
                            {{data.origin}}
                        </div>

                        <div class="col-xs-8 nopadding" ng-repeat="dest in data.entry">
                            <div
                                class="col-xs-6 nopadding"
                                ng-class="{'pull-right': vm.isSaleOriented}">
                                <div
                                    class="col-xs-12 border-right border-bottom grid-table-cell clickable grid-linkage"
                                    ng-repeat="entry in dest.entry"
                                    ng-click="vm.getTransactionDetail(entry)"
                                    ui-draggable="true"
                                    drag="{{entry}}"
                                    on-drop-success="vm.onDropSuccess(entry)"
                                    ng-class="{'highlighted': vm.selectedLinkageId === entry}">
                                    {{entry}}
                                </div>
                            </div>

                            <div
                                class="col-xs-6 border-bottom grid-table-cell align-right"
                                ng-style="{height: (dest.length * 35) + 'px'}"
                                ui-draggable="false"
                                ui-on-drop="vm.onDrop(dest.destination, 'destination')">
                                {{dest.destination}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="data-grid row">
                    <div class="col-xs-12">
                        <div class="col-xs-4 border-right border-bottom grid-table-cell grid-table-header"></div>
                        <div class="col-xs-4 border-right border-bottom grid-table-cell grid-table-header">
                            <a
                                class="clickable col-xs-12 create-link"
                                data-toggle="modal"
                                data-target="#addLinkageModal">
                                <span class="glyphicon glyphicon-link col-xs-12" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="col-xs-4 border-bottom grid-table-cell grid-table-header"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-height nopadding">

                <div
                    class="linkage-header border-bottom centered-text">
                    <a
                        ng-href="linkage_details/{{vm.selectedLinkageId}}">
                        Linkage #{{vm.selectedLinkageId}}
                    </a>
                </div>

                <div class="col-md-5 nopadding border-right">

                    <div class="portfolio-grid-card border-bottom">

                        <div class="header">Origin & Loading Date</div>

                        <div class="row">
                            <div class="btn-group col-xs-12 dropdown-parent">
                                <button
                                    type="button"
                                    class="btn dropdown-toggle dropdown-button multi-dropdown-text"
                                    ng-class="{'disabled': !vm.selectedOrigin}"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                    <span class="glyphicon icon-arrow pull-left" aria-hidden="true"></span>
                                    {{vm.selectedOrigin}}
                                </button>

                                <button
                                    type="button"
                                    class="btn dropdown-toggle dropdown-button multi-dropdown-caret"
                                    ng-class="{'disabled': !vm.selectedOrigin}"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>

                                <ul class="dropdown-menu col-xs-12">
                                    <li ng-repeat="option in vm.originHeaders">
                                        <a class="clickable" ng-click="vm.setTransactionOrigin(option)">{{option}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-12 nopadding button-div clickable" ng-click="vm.originDateModel.show()">
                            <span class="glyphicon icon-calendar col-xs-1" aria-hidden="true"></span>
                            <input
                                readonly
                                class="col-xs-8 col-xs-offset-1 vessel-input centered-text clickable"
                                default-date="{{vm.selectedOriginDate}}"
                                set-default-date="true"
                                pikaday="vm.originDateModel"
                                on-select="vm.onOriginDateUpdate(pikaday)">
                            <span class="col-xs-1 span-dropdown-caret pull-right">
                                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            </span>
                        </div>

                    </div>

                    <div class="portfolio-grid-card border-bottom">

                        <div class="header">Destination & Delivery Date</div>

                        <div class="row">
                            <div class="btn-group col-xs-12 dropdown-parent">
                                <button
                                    type="button"
                                    class="btn dropdown-toggle dropdown-button multi-dropdown-text"
                                    ng-class="{'disabled': !vm.selectedDest}"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                    <span class="glyphicon icon-arrow pull-left" aria-hidden="true"></span>
                                    {{vm.selectedDest}}
                                </button>

                                <button
                                    type="button"
                                    class="btn dropdown-toggle dropdown-button multi-dropdown-caret"
                                    ng-class="{'disabled': !vm.selectedDest}"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>

                                <ul class="dropdown-menu col-xs-12">
                                    <li ng-repeat="option in vm.destinationHeaders">
                                        <a class="clickable" ng-click="vm.setTransactionDest(option)">{{option}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-12 nopadding button-div clickable" ng-click="vm.destDateModel.show()">
                            <span class="glyphicon icon-calendar col-xs-1" aria-hidden="true"></span>
                            <input
                                readonly
                                class="col-xs-8 col-xs-offset-1 vessel-input centered-text clickable"
                                default-date="{{vm.selectedDestDate}}"
                                set-default-date="true"
                                pikaday="vm.destDateModel"
                                on-select="vm.onDestDateUpdate(pikaday)">
                            <span class="col-xs-1 span-dropdown-caret pull-right">
                                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            </span>
                        </div>

                    </div>

                    <div class="portfolio-grid-card border-bottom">

                        <div class="header">Vessel & Quantity</div>

                        <div class="row">
                            <div class="btn-group col-xs-12 dropdown-parent">
                                <button
                                    type="button"
                                    class="btn dropdown-toggle dropdown-button multi-dropdown-text"
                                    ng-class="{'disabled': !vm.selectedVessel}"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                    <span class="glyphicon icon-ship pull-left" aria-hidden="true"></span>
                                    {{vm.selectedVessel || 'No Vessel'}}
                                </button>

                                <button
                                    type="button"
                                    class="btn dropdown-toggle dropdown-button multi-dropdown-caret"
                                    ng-class="{'disabled': !vm.selectedVessel}"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>

                                <ul class="dropdown-menu col-xs-12">
                                    <li ng-repeat="option in vm.vessels">
                                        <a class="clickable" ng-click="vm.setVessel(option)">{{option}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-12 nopadding button-div">
                            <span class="glyphicon icon-balance col-xs-1"></span>
                            <input
                                class="col-xs-6 col-xs-offset-1 vessel-input centered-text"
                                ng-readonly="!vm.selectedVessel"
                                value="{{vm.shipingQuantity}}"
                                ng-model="vm.shipingQuantity">
                            </input>
                            <span class="col-xs-4 vessel-stamp">MMBTU</span>
                        </div>

                    </div>

                    <div class="portfolio-grid-card small-height border-bottom">

                        <button class="btn col-xs-12 button-modifier">
                            Add Modifier
                            <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
                        </button>

                        <div class="col-xs-10 col-xs-offset-2 nopadding pull-bottom">
                            <button
                                class="btn btn-default btn-sm col-xs-5 col-xs-offset-1 button-reset"
                                ng-click="vm.resetLinkageChanges()">
                                Reset
                            </button>
                            <button
                                class="btn btn-success btn-sm col-xs-5 col-xs-offset-1 button-submit"
                                ng-click="vm.updateLinkage()">
                                Update
                            </button>
                        </div>

                    </div>

                </div>

                <div class="col-md-7 nopadding portfolio-rpc-container">
                    <div class="portfolio-column-right">
                        <div class="clearfix portfolio-column-header">
                            <p class="portfolio-header-text">
                                Profit & Loss
                            </p>
                            <span class="portfolio-pnl-tag" ng-if="(vm.pnlChangePercentage !== undefined)" ng-class="{positive: vm.pnlChangePercentage >= '0', negative: vm.pnlChangePercentage < '0'}">{{vm.pnlChangePercentage}} %
                            </span>
                        </div>
                        <div class="portfolio-column-content chart">
                            <div class="align-right text-padding border-bottom" ng-if="vm.latestPnl">
                                <div>
                                    <span style="font-size: 18px" class="glyphicon glyphicon-usd"></span>
                                    <span style="font-size: 20px">{{vm.latestPnl}}</span>
                                </div>
                            </div>
                            <div ng-if="vm.selectedLinkageData.pnl && vm.selectedLinkageData.pnl.length" class="portfolio-pnl-chart" style="width:100%;">
                                <highcharts type="area" data="vm.pnlData" width="380" height="150" name="PNL">
                                </highcharts>   
                            </div>
                            <div class="centered-text" ng-if="!(vm.selectedLinkageData.pnl && vm.selectedLinkageData.pnl.length)">
                                <p class="text-padding">Historical data unavailable</p>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-column-right">
                        <div class="clearfix portfolio-column-header"><p class="portfolio-header-text">
                            Risk
                        </p></div>
                        <div class="portfolio-column-content">
                            <table ng-if="vm.selectedLinkageData.risk && vm.selectedLinkageData.risk.length" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="centered-text">Product</th>
                                        <th class="centered-text">Unit</th>
                                        <th class="align-right">Risk</th>
                                        <th class="align-right">Variation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="y in vm.selectedLinkageData.risk">
                                        <td class="text-bold centered-text">{{y.product}}</td>
                                        <td class="centered-text">{{y.unit}}</td>
                                        <td class="align-right">{{y.risk | number}}</td>
                                        <td class="align-right text-bold" ng-class="{variationPositive: (y.risk - y.previousRisk) > '0', variationNegative: (y.risk - y.previousRisk) < '0'}">{{y.risk - y.previousRisk | number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="centered-text" ng-if="!(vm.selectedLinkageData.risk && vm.selectedLinkageData.risk.length)">
                                <p class="text-padding">Data Unavailable</p>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-column-right">
                        <div class="clearfix portfolio-column-header">
                            <p class="portfolio-header-text">
                            Change Log
                            </p>
                        </div>
                        <div class="portfolio-column-content">
                            <table class="table table-hover" ng-if="vm.selectedLinkageData.changelogs && vm.selectedLinkageData.changelogs.length">
                                <thead>
                                    <tr>
                                        <th>Transaction Id</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="y in vm.selectedLinkageData.changelogs">
                                        <td><a href="/transaction_details/{{y.transactionId}}">{{y.transactionId}}</a></td>
                                        <td class="">{{y.date | date:'longDate'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="centered-text" ng-if="!(vm.selectedLinkageData.changelogs && vm.selectedLinkageData.changelogs.length)">
                                <p class="text-padding">Data Unavailable</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div aria-labelledby="myModalLabel" class="modal fade" id="addLinkageModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content no-radius">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss=
                    "modal" type="button"><span aria-hidden=
                    "true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Linkage</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div
                            class="col-md-12"
                            ng-if="vm.unlikedOrigin.length > 0 && vm.unlikedDestination.length > 0">
                            <label class="col-md-5 nopadding">Select Transaction Origin</label>
                            <label class="col-md-5 nopadding col-md-offset-1">Select Transaction Destination</label>
                        </div>
                        <div
                            class="col-md-12"
                            ng-if="vm.unlikedOrigin.length > 0 && vm.unlikedDestination.length > 0">
                            <multiselect-dropdown
                                class="col-md-5 nopadding"
                                header="'Transaction | Origin'"
                                option-data="vm.unlikedOrigin"
                                single-select="true"
                                selected-events="vm.updateModalOrigin">
                            </multiselect-dropdown>

                            <multiselect-dropdown
                                class="col-md-5 nopadding col-md-offset-1"
                                header="'Transaction | Destination'"
                                option-data="vm.unlikedDestination"
                                single-select="true"
                                selected-events="vm.updateModalDest">
                            </multiselect-dropdown>
                        </div>

                        <div class="col-md-12">
                            <div
                                class="centered-text"
                                ng-if="vm.unlikedOrigin.length === 0 || vm.unlikedDestination.length === 0">
                                There are no sale and purchase transactions to link
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        class="btn btn-default button-reset"
                        data-dismiss="modal"
                        type="button">
                        Cancel
                    </button>

                    <button
                        class="btn btn-success button-submit"
                        data-dismiss="modal"
                        type="button"
                        ng-click="vm.createLinkage()">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="toast-parent {{vm.toastStatus}}" ng-class="{'shown': vm.isToastShown}">
        <div class="toast-header">
            <span class="toast-dismiss"></span>
            <span class="header-text">{{vm.toastTitle}}</span>
        </div>
        <div class="toast-body">
            <span>{{vm.toastBody}}</span>
        </div>
    </div> -->

    <ui-toast
        type="vm.toastStatus"
        title="vm.toastTitle"
        message="vm.toastBody"
        shown="vm.isToastShown">
    </ui-toast>

</section>