.go-to-btn {
    background-color: $button-gray;
    width: 70px;
}
.go-to-step-modal {
	.scenario-step-container {
		width:49%;
		&.first {
			margin-right: 2%;
		}
		.step-container, .scenario-container {
			max-height: 250px;
			min-height: 250px;
			overflow-y: auto;
		}
		.go-to-step-table {
			.selected-scenario, .selected-step {
				border-left: 10px solid $button-blue-dark;
			}
			.header {
				background-color: $table-gray-gamma;
			}
			.table-cell {
				padding: 4px;
				color: $text-gray-light;
			}
		}
		.no-data {
			padding: 20px;
		}
		.add-action {
			border: 2px dotted $button-blue-light;
			color: $button-blue-light;
			padding: 5px;
		}
	}
}