<span data-toggle="modal" data-target="#goToStepModal" id="go-to-btn" class="portfolio-update-btn go-to-btn pull-right text-bold" ng-click="vm.getData()">Go to</span>
<div aria-labelledby="myGoToStepModal" class="go-to-step-modal modal fade" id="goToStepModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content no-radius">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Launch Step Viewer</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="col-md-12">
                    <div class="col-md-6 scenario-step-container first nopadding">
                        <div class="scenario-container border-right border-top border-left">
                            <table class="table table-hover scenario-table go-to-step-table">
                                <thead class="header">
                                    <tr>
                                        <th class="table-cell">
                                            Scenario Title
                                        </th>
                                        <th class="table-cell">
                                            Last Updated
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="scenario in vm.scenarios" class="clickable" ng-click="vm.updateSelectedScenario(scenario)" ng-class="{'selected-scenario' : scenario.scenarioId === vm.selectedScenario}">
                                        <td class="table-cell">{{scenario.scenarioName}}</td>
                                        <td class="table-cell">{{scenario.lastModifiedTime | date:'longDate'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="vm.isScenarioToBeAdded" class="">
                            <form novalidate name="addScenarioForm" ng-submit="addScenarioForm.$valid && vm.addScenario()">
                                <div class="">
                                    <input type="text" ng-model="vm.newScenario.scenarioName" class="form-control no-radius" placeholder="Scenario Name" required>
                                </div>
                            </form>
                        </div>
                        <div class="text-bold add-action centered-text clickable" ng-click="vm.showScenarioCreationForm()">
                            Add Scenario
                        </div>
                    </div>
                    <div class="col-md-6 nopadding scenario-step-container">
                        <div class="step-container border-right border-top border-left">
                            <table ng-if="vm.selectedSteps && vm.selectedSteps.length && vm.sortableOption" class="table table-hover step-table go-to-step-table">
                                <thead class="header">
                                    <tr>
                                        <th class="table-cell">
                                        Order
                                        </th>
                                        <th class="table-cell">
                                            Step Title
                                        </th>
                                        <th class="table-cell">
                                            Last Modified
                                        </th>
                                    </tr>
                                </thead>
                                <tbody html-sortable="vm.sortableOption" ng-model="vm.selectedSteps">
                                    <tr ng-class="{'selected-step' : step.stepId === vm.selectedStep}" ng-click="vm.updateSelectedStep(step)" ng-repeat="step in vm.selectedSteps track by $index" class="clickable">
                                        <td class="table-cell">{{step.stepOrder}}</td>
                                        <td class="table-cell">{{step.stepName}}</td>
                                        <td class="table-cell">{{step.lastModifiedBy}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div ng-if="!(vm.selectedSteps && vm.selectedSteps.length)" class="centered-text text-bold no-data">
                                No Steps in Selected Linkage
                            </div>
                        </div>
                        <div ng-if="vm.isStepToBeAdded" class="">
                            <form name="addStepForm" ng-submit="addStepForm.$valid && vm.addStep()" novalidate>
                                <input type="text" ng-model="vm.newStep.stepName" class="form-control no-radius" placeholder="Step Name" required>
                            </form>
                        </div>
                        <div class="text-bold add-action centered-text clickable" ng-click="vm.showStepCreationForm()">
                            Add Step
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default button-reset" data-dismiss="modal" type="button">
                    Cancel
                </button>
                <button ng-disabled="!(vm.selectedStep)" class="btn btn-danger" data-dismiss="modal" type="button" ng-click="vm.goToStep()">
                    Go
                </button>
            </div>
        </div>
    </div>
</div>
