.portfolio-update-btn {
    width: 140px;
    height: 25px;
    background-color: $button-red;
    padding: 3px 6px 3px 6px;
    color: $white;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.go-to-btn {
    background-color: $button-gray;
    width: 70px;
}

.no-data {
    padding: 10px;
    color: $text-gray-light;
}

.risk-table {
    .header {
        background-color: $table-gray-gamma;
    }
    margin-bottom: 0px;
    th.table-cell,
    td.table-cell {
        padding: 2px;
    }
    [row="0"] {
        color: $text-gray-dark;
    }
    .variationPositive[row="1"] {
        color: $text-positive;
    }
    .variationNegative[row="1"] {
        color: $text-negative;
    }
}

.scenario-deck {
    background-color: $table-gray-gamma;
    padding: 20px 20px;
    .scenario-cards {
        background-color: $white;
        margin-bottom: 10px;
        .scenario-card {
            min-height: 105px;
            &.Operations {
                border-bottom: 4px solid $dept-operations;
            }
            &.Middle.Office,
            &.MiddleOffice {
                border-bottom: 4px solid $dept-middle-office;
            }
            &.Front.Office,
            &.FrontOffice {
                border-bottom: 4px solid $dept-front-office;
            }
        }
        .scenario-id-text {
            cursor: pointer;
        }
        .scenario-card-heading {
            padding: 5px;
            color: $text-gray-light;
        }
        .scenario-card-content {
            padding: 10px;
            &.pnl {
                padding: 10px;
            }
            &.risk {
                padding: 0px;
            }
            .scenario-text-top {
                color: $text-gray-dark;
                margin-bottom: 5px;
            }
            .scenario-text-bottom {
                color: $text-blue;
                text-align: justify;
            }
            .pnl-tag-wrapper {
                margin-bottom: 10px;
            }
            .pnl-tag {
                padding: 2px 10px 2px 10px;
                color: $white;
                border-radius: 5px;
            }
            .positive {
                background-color: $text-positive;
            }
            .negative {
                background-color: $text-negative;
            }
        }
        .scenario-step-count-container {
            .scenario-step-count {
                font-size: 2em;
                margin-top: 25px;
            }
        }
    }
}
