<div class="header-parent navbar-fixed-top">
    <ul class="breadcrumb-group">
        <li><a href="#">Portfolio Updates</a></li>
        <li>
            <a href="#"></a>
        </li>
    </ul>
    <div class="header-title">
        <span class="header-focus" ng-if="(vm.scenarioData.length)">{{vm.scenarioData.length}} Scenarios</span>
        <span id="create-scenario-btn" class="portfolio-update-btn text-bold" data-toggle="modal" data-target="#addScenarioModal">New Scenario</span>
        <tmpl-goToStep></tmpl-goToStep>
    </div>
</div>
<section class="container-fluid">
    <div class="row scenario-deck">
        <div class="row-height">
            <div class="col-md-12 nopadding scenario-cards" ng-repeat="data in vm.scenarioData">
                <div class="col-md-1 border-all nopadding scenario-card">
                    <div data-scenario-id="{{data.scenarioId}}" ng-click="vm.goToScenarioDetailPage($event)" class="scenario-id-text scenario-step-count-container">
                        <div class="scenario-step-count centered-text">{{data.steps.length}}</div>
                        <div class="centered-text">Steps</div>
                    </div>
                </div>
                <div class="col-md-4 border-all nopadding scenario-card">
                    <div data-scenario-id="{{data.scenarioId}}" ng-click="vm.goToScenarioDetailPage($event)" class="scenario-id-text scenario-card-heading border-bottom text-bold">Scenario# {{data.scenarioId}}</div>
                    <div class="scenario-card-content">
                        <div class="scenario-text-top text-bold text-capitalize">{{data.scenarioName}}</div>
                        <div class="scenario-text-bottom text-bold">{{data.scenarioDescription}}</div>
                    </div>
                </div>
                <div class="col-md-2 border-all nopadding scenario-card {{data.department}}">
                    <div class="scenario-card-heading border-bottom text-bold">Last Modified</div>
                    <div class="scenario-card-content">
                        <div class="scenario-text-top text-bold">{{data.lastModifiedTime | date:'longDate'}}</div>
                        <div class="scenario-text-bottom text-bold">{{data.lastModifiedBy}}</div>
                    </div>
                </div>
                <div class="col-md-2 border-all nopadding scenario-card">
                    <div class="scenario-card-heading border-bottom text-bold">Profit/Loss</div>
                    <div class="scenario-card-content pnl" ng-if="(data.oldPnl && data.newPnl)">
                        <div class="clearfix pnl-tag-wrapper"><span class="pnl-tag pull-right" ng-class="{positive: (data.newPnl - data.oldPnl) >= '0', negative: (data.newPnl - data.oldPnl) < '0'}">{{((data.newPnl - data.oldPnl)*100)/data.oldPnl | number:2}} %</span>
                        </div>
                        <div class="pull-right">
                            <span style="font-size: 16px" class="glyphicon glyphicon-usd"></span>
                            <span style="font-size: 20px">{{data.newPnl | number}}</span>
                        </div>
                    </div>
                    <div ng-if="!(data.oldPnl && data.newPnl)">
                        <p class="no-data text-bold centered-text border-bottom">Data Unavailable</p>
                    </div>
                </div>
                <div class="col-md-3 border-all nopadding scenario-card">
                    <div class="scenario-card-heading border-bottom text-bold">Risk
                    </div>
                    <div class="scenario-card-content risk">
                        <table class="table table-hovered risk-table centered-text" ng-if="data.risk && data.risk.length">
                            <thead class="header">
                                <tr>
                                    <th class="table-cell centered-text">OIL</th>
                                    <th class="table-cell centered-text">GAS</th>
                                    <th class="table-cell centered-text">LNG</th>
                                    <th class="table-cell centered-text">COAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="risk in data.risk">
                                    <td class="table-cell" row="{{$index}}" ng-class="{variationPositive: (risk.oil) > '0', variationNegative: (risk.oil) < '0'}">{{risk.oil}}</td>
                                    <td class="table-cell" row="{{$index}}" ng-class="{variationPositive: (risk.gas) > '0', variationNegative: (risk.gas) < '0'}">{{risk.gas}}</td>
                                    <td class="table-cell" row="{{$index}}" ng-class="{variationPositive: (risk.lng) > '0', variationNegative: (risk.lng) < '0'}">{{risk.lng}}</td>
                                    <td class="table-cell" row="{{$index}}" ng-class="{variationPositive: (risk.coal) > '0', variationNegative: (risk.coal) < '0'}">{{risk.coal}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="!(data.risk && data.risk.length)">
                            <p class="no-data text-bold centered-text border-bottom">Data Unavailable</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="myModalLabel" class="modal fade" id="addScenarioModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content no-radius">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Scenario</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" novalidate name="createScenarioForm">
                        <div class="form-group">
                            <label for="scenarioName" class="col-sm-2 control-label">Scenario Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="scenarioName" placeholder="Name" name="scenarioName" ng-model="vm.scenario.scenarioName" required>
                                <div class="error" ng-show="createScenarioForm.scenarioName.$dirty && createScenarioForm.scenarioName.$invalid">
                                    <small class="error" ng-show="createScenarioForm.scenarioName.$error.required">Scenario name is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="scenarioName" class="col-sm-2 control-label">Scenario Description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="scenarioDescription" placeholder="Name" name="scenarioDescription" ng-model="vm.scenario.scenarioDescription" required>
                                <div class="error" ng-show="createScenarioForm.scenarioDescription.$dirty && createScenarioForm.scenarioDescription.$invalid">
                                    <small class="error" ng-show="createScenarioForm.scenarioDescription.$error.required">Scenario description is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" ng-click="vm.createScenario()" class="btn btn-success" value="Create Scenario" ng-disabled="createScenarioForm.$invalid" data-dismiss="modal">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default button-reset" data-dismiss="modal" type="button">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
