.no-right {
    margin-right: 0;
}

.no-left {
    margin-left: 0;
}

.no-bottom {
    margin-bottom: 0;
}

.navbar-head {
    background-color: $black;
    border: 0px;
    .white-text {
        color:$white;
    }
    .logout-control {
        background-color: $button-red;
        margin-right: -15px;
        height: 30px;
        a {
            color:$white !important;
            height: 30px;
        }
    }

    .logout-container {
        @media (max-width: 600px) {
            margin-right: 0px;
            margin-top: -2px;
            margin-left: 20px;

            .logout-control {
                a {
                    line-height: 0;
                }
            }
        }
    }
}

.navbar-subhead {
    margin-top: 30px;
    border: 0px;
    background-color:$white;
    height: 45px;

    .navbar-brand {
        min-height: 45px;
        padding: 0 0 0 10px;
        img {
            height: 25px;
            margin: 10px 0;
        }
    }
    
    .nav.navbar-nav {
        height: 45px;
        // margin-right: 10%;
        li {
            height: inherit;
            // min-width: 126px;
            a {
                height: inherit;
                line-height: 35px;
                font-weight: bold;
                color: $black;
            }
        }
        .active-tab {
            border-bottom: 5px solid $button-red;
        }
    }
}