<!-- expand/collapse behavior adapted from https://github.com/angular-ui/bootstrap/blob/master/misc/demo/index.html -->

<nav class="navbar navbar-inverse navbar-fixed-top navbar-head">
    <div class="container-fluid">
        <ul class="nav navbar-nav pull-right logout-container">
            <li class="dropdown logout-control">
                <a href="#">
                    <span class="glyphicon icon-logout" aria-hidden="true"></span> Logout
                </a>
            </li>
        </ul>
        <p class="navbar-text pull-right white-text">Welcome, <label> {{vm.name}}</label></p>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top navbar-subhead">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" ng-click="vm.isCollapsed = !vm.isCollapsed" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="../../images/logo.png" alt="Total Logo"></a>
        </div>

        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav pull-right">
                <li ng-class="{'active-tab': vm.activeHeader === 'updates'}"><a href="portfolio_updates">Portfolio Updates</a></li>
                <li ng-class="{'active-tab': vm.activeHeader === 'overview'}"><a href="/">Portfolio Overview</a></li>
                <li><a href="#">Calendar</a></li>
                <li><a href="#">Vessels</a></li>
                <li><a href="#">Optimisations</a></li>
                <li><a href="#">Transaction Grid</a></li>
            </ul>
        </div>
    </div>
</nav>
