.dropdown-parent.open {
    .dropdown-toggle {
        box-shadow: none;
    }
}

.dropdown-parent {
    .dropdown-button {
        margin-top: 14px;
        border-radius: 0;
    }

    .dropdown-menu {
        border-radius: 0;
        max-height: 240px;
        overflow: auto;

        .input-container {
            padding: 0;
            input {
                display: block;
                box-sizing: border-box;
                border: 1px solid #ccc;
                width: 100%;
                height: 30px;
                line-height: 30px;
                margin: 0 5px;
                padding: 0 10px;
                outline: none;

                &:active, &:focus {
                    border: 1px solid #aaa;
                }
            }
        }
    }

    .multi-dropdown-caret {
        background-color: #dae0ee;
    }
}