<div class="btn-group col-xs-12 nopadding dropdown-parent">
    <button type="button" class="btn btn-default dropdown-toggle col-xs-10 dropdown-button multi-dropdown-header" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{headerText}}</button>
    <button type="button" class="btn dropdown-toggle col-xs-2 dropdown-button multi-dropdown-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu col-xs-12">
        <!-- <li class="input-container">
            <input placeholder="Search" ng-model="searchFilter" type="search">
        </li> -->
        <li class="search-options" ng-repeat="option in optionData | filter:searchFilter">
            <a class="clickable" ng-click="vm.createSelectList($event)" data-key="{{vm.isObjectArray ? option.key: null}}">
                <span class="glyphicon glyphicon-unchecked" aria-hidden="true" ng-if="!singleSelect"></span>
                {{vm.isObjectArray ? option.value : option}}
            </a>
        </li>
    </ul>
</div>