<div class="toast-parent {{type}}" ng-class="{'shown': shown}">
    <div class="toast-header">
        <span class="toast-dismiss" ng-click="vm.hide()"></span>
        <span class="header-text">{{title}}</span>
    </div>
    <div class="toast-body">
        <span>{{message}}</span>
    </div>
</div>