<div class="header-parent navbar-fixed-top">

    <ul class="breadcrumb-group">
        <li><a href="#">Overview</a></li>
        <li><a href="#">Portfolio Overview</a></li>
    </ul>

    <div class="header-title">
        <span class="header-focus">{{vm.yearsText}}</span>
        <span>- {{vm.totalTransactions}} Linkages</span>
    </div>

</div>