<tmpl-portfolioheader class="page" ng-if="page === 'portfolio'"></tmpl-portfolioheader>
<tmpl-stepheader class="page" ng-if="page === 'step'"></tmpl-stepheader>
<tmpl-portfolio class="page" ng-class="{'padded-top': page === 'step'}"></tmpl-portfolio>
<tmpl-portfolioTransactions class="page"></tmpl-portfolioTransactions>