.page h1 {
    margin: 4px 0;
}

html {
    height: 100%;
    scrollbar-track-color: $table-gray-delta;
    scrollbar-face-color: $button-gray;
    scrollbar-3dlight-color: $table-gray-delta;
    scrollbar-highlight-color: $table-gray-delta;
    scrollbar-arrow-color: $button-gray;
    scrollbar-shadow-color: $table-gray-delta;
    scrollbar-dark-shadow-color: $table-gray-delta;
    ::-webkit-scrollbar {
        background-color: $table-gray-delta;
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $button-gray;
        border-radius: 5px;
    }
}

body {
    height: 100%;
    padding-top: $body-padding-top;
}

.nopadding {
    padding: 0;
}

.nopadding-xs {
    @media (max-width: 600px) {
        padding: 0;
    }
}

.nomargin {
    margin: 0;
}

.align-right {
    text-align: right;
}

.centered-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.border-all {
    border: 1px solid $border-color;
}

.border-right {
    border-right: 1px solid $border-color;
}

.border-bottom {
    border-bottom: 1px solid $border-color;
}

.border-left {
    border-left: 1px solid $border-color;
}

.border-top {
    border-top: 1px solid $border-color;
}

.no-border {
    border: 0 !important;
}

.no-radius {
    border-radius: 0;
}

.noflow {
    overflow: hidden;
}

.text-height-default {
    height: $text-height;
    line-height: $text-height;
}

.text-bold {
    font-weight: bold;
}

.header-parent {
    background-color: $breadcrumb-bg;
    padding: 0 15px 15px 15px;
    margin-top: 75px;
    .breadcrumb-group {
        margin: 0 -15px 15px -15px;
        background-color: $breadcrumb-bg-light;
        list-style: none;
        overflow: hidden;
        padding: 0;
        li {
            float: left;
            a {
                color: $white;
                text-decoration: none;
                padding: 0 0 10px 45px;
                background-color: $breadcrumb-bg;
                position: relative;
                display: block;
                float: left;
                height: 24px;
                line-height: 24px;
                &:after {
                    content: " ";
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 50px solid transparent;
                    border-bottom: 50px solid transparent;
                    border-left: 30px solid $breadcrumb-bg;
                    position: absolute;
                    top: 50%;
                    margin-top: -50px;
                    left: 100%;
                    z-index: 2;
                }
                &:before {
                    content: " ";
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 50px solid transparent;
                    border-bottom: 50px solid transparent;
                    border-left: 30px solid $breadcrumb-bg;
                    position: absolute;
                    top: 50%;
                    margin-top: -50px;
                    margin-left: 1px;
                    left: 100%;
                    z-index: 1;
                }
            }
            &:first-child a {
                padding-left: 10px;
            }
            &:nth-child(2n) a {
                background-color: $breadcrumb-bg-light;
                &:after {
                    border-left-color: $breadcrumb-bg-light;
                }
            }
            &:last-child a {
                background-color: $breadcrumb-bg-light;
                pointer-events: none;
                cursor: default;
                &:after {
                    border: 0;
                }
                &:before {
                    border: 0;
                }
            }
            a:hover {
                background-color: $breadcrumb-link-bg;
                &:after {
                    border-left-color: $breadcrumb-link-bg !important;
                }
            }
        }
    }
    .header-title {
        color: $white;
        .header-focus {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.25em;
        }
        .header-count {
            color: $text-blue-alpha;
            font-size: 1.25em;
        }
    }
    .header-subtitle {
        font-size: 1.125em;
        color: $white;
        .header-focus {
            font-weight: bold;
        }
    }
}

.clickable {
    cursor: pointer;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-uppercase {
    text-transform: uppercase;
}
