// font icons
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon/icomoon.eot');
    src:    url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow2:before {
    content: "\e906";
}
.icon-balance2:before {
    content: "\e907";
}
.icon-calendar2:before {
    content: "\e908";
}
.icon-ship2:before {
    content: "\e909";
}
.icon-chat2:before {
    content: "\e90a";
}
.icon-profile2:before {
    content: "\e90b";
}
.icon-logout:before {
    content: "\e90c";
}
.icon-eye:before {
    content: "\e90d";
}
.icon-eyeshut:before {
    content: "\e90e";
}
.icon-arrow:before {
    content: "\e900";
}
.icon-balance:before {
    content: "\e901";
}
.icon-calendar:before {
    content: "\e902";
}
.icon-ship:before {
    content: "\e903";
}
.icon-chat:before {
    content: "\e904";
}
.icon-profile:before {
    content: "\e905";
}


// font for text

@font-face {
    font-family: 'MuseoSans-500';
    src: url('../fonts/301BBB_0_0.eot');
    src: url('../fonts/301BBB_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/301BBB_0_0.woff2') format('woff2'), url('../fonts/301BBB_0_0.woff') format('woff'), url('../fonts/301BBB_0_0.ttf') format('truetype');
}

html, body {
    font-family: 'MuseoSans-500', 'Helvetica', 'sans-serif';
}
