.toast-parent {
    z-index: 1200;
    display: inline-block;
    min-width: 250px;
    color: #fff;
    background-color: #888;
    box-shadow: 0 0 5px #888;
    position: fixed;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity linear 300ms;

    .toast-header {
        border-bottom: 1px solid #666;
    }

    &.shown {
        opacity: 1;
    }

    &.success {
        background-color: #449d44;
        box-shadow: 0 0 5px #449d44;
        .toast-header {
            border-bottom: 1px solid #357935;
        }
    }

    &.error {
        background-color: #c9302c;
        box-shadow: 0 0 5px #c9302c;
        .toast-header {
            border-bottom: 1px solid #9f2623;
        }
    }

    &.info {
        background-color: #286090;
        box-shadow: 0 0 5px #286090;
        .toast-header {
            border-bottom: 1px solid #1d4568;
        }
    }

    &.warn {
        background-color: #f0ad4e;
        box-shadow: 0 0 5px #f0ad4e;
        .toast-header {
            border-bottom: 1px solid #ec971f;
        }
    }

    .toast-header {
        padding: 5px 15px;
        .header-text {
            display: block;
            font-weight: bold;
            font-size: 1.5em;
        }
        .toast-dismiss {
            float: right;
            cursor: pointer;
            width: 30px;
            margin-right: -15px;
            height: 30px;
            text-align: center;
            margin-top: -2px;
            &:before {
                content: "\2715";
            }
        }
    }

    .toast-body {
        padding: 15px;
    }
}