/* -----------------------------------------------------------------------------
 * variables
 * -------------------------------------------------------------------------- */

/* ----- Colors ----- */
$white: #fff;
$black: #000;
$gray-light: #999;
$border-color: #ccc;
$border-color-dark: #adadad;

$page-blue-dark: #3B507F;
$page-blue-light: #6c7c9f;
$page-gray-base: #e1e5eb;
$page-blue-alpha: #5b6b8e;

$page-gray-border: #d0d4da;

$button-red: #df0c36;
$button-blue-light: #62c9f7;
$button-pink-light: #fdebc2;
$button-gray: #a9a9a9;
$button-gray-hover: #989898;
$button-blue-dark: #6c8cc8;
$button-blue-dark-hover: #7a6cc8;
$button-blue-lighter: #63CAF7;

$table-gray-alpha: #f8f8fb;
$table-gray-beta: #f4f6f6;
$table-gray-gamma: #e5e7ee;
$table-gray-delta: #d6e4e7;

$icon-orange: #f9965b;
$icon-pink: #c175e5;
$icon-blue: #6c8cc8;
$icon-turquoise: #2bcdc1;
$operations-color: #00abf8;

$text-gray-dark: #596472;
$text-blue: #004195;
$text-gray-light: #838d8f;
$text-black: #3b3d40;
$text-positive: #28aa6d;
$text-negative: #ff5c26;
$text-blue-alpha: #97acc0;


/* ----- Widget Variables ----- */
$breadcrumb-bg:  $page-blue-dark;
$breadcrumb-bg-light: $page-blue-light;
$breadcrumb-link-bg: #483b7f;

$dept-operations: #00abf8;
$dept-middle-office: #f9965b;
$dept-chartering: #c175e5;
$dept-back-office: #5b6ee0;
$dept-front-office: #c72b57;


/* ----- Padding, Margins, Heights ----- */
$body-padding-top: 154px;
$text-height: 35px;