.padded-top {
    .portfolio-parent {
        padding-top: 23px;
    }
}

.btn-nav-pill {
    background-color: $page-blue-light;
    border: 0;
    padding: 3px 5px 2px 6px;
    margin-left: 1px;

    &.pulled-further {
        margin-left: 5px;
    }

    &:hover {
        background-color: $breadcrumb-link-bg;
    }

    .glyphicon {
        margin-top: 1px;
    }

    &.btn-disabled {
        cursor: default;
        pointer-events: none;
        background-color: $page-blue-alpha;
    }
}