<div class="header-parent navbar-fixed-top">

    <ul class="breadcrumb-group">
        <li><a href="#">Overview</a></li>
        <li><a href="#">Step Viewer</a></li>
    </ul>

    <div class="header-title">
        <span class="header-focus">{{vm.scenarioTitle}}</span>
        <span class="header-count">- {{vm.stepCount}} Steps</span>

        <button
            class="btn-nav-pill pull-right"
            ng-class="{'btn-disabled': vm.rightDisabled}"
            ng-click="vm.selectNext()">
            <span class="glyphicon glyphicon-triangle-right"></span>
        </button>

        <button
            class="btn-nav-pill pulled-further pull-right"
            ng-class="{'btn-disabled': vm.leftDisabled}"
            ng-click="vm.selectPrevious()">
            <span class="glyphicon glyphicon-triangle-left"></span>
        </button>

        <tmpl-goToStep class></tmpl-goToStep>
    </div>

    <div class="header-subtitle">
        <span class="header-focus">Step {{vm.stepOrder}}</span>
        <span>- {{vm.stepName}} Steps</span>
    </div>

</div>