.linkage-details-parent {
    // padding-top: 6px;

    .transactions-card-parent {
        background-color: $page-gray-base;
        padding: 0px 0 5px 0;
        transition: all linear 200ms;

        .summary-button {
            width: 160px;
            display: inline-block;
            border-radius: 20px;
            padding: 0px 10px 5px;
            border: 1px solid $page-blue-light;
            color: $white;
            background-color: $page-blue-light;
            margin-top: -6px;
            position: absolute;
            bottom: 0;
            left: calc(50% - 80px);
            margin-bottom: -22px;

            &:hover, &:focus {
                background-color: $breadcrumb-link-bg;
            }

            .glyphicon {
                color: $table-gray-gamma;
                font-size: 2em;
                height: 20px;
                overflow: hidden;
            }
        }
    }

    .padding-bottom-big {
        padding-top: 30px;
        // border-bottom: 2px solid $page-gray-border;
    }

    .table-label {
        padding: 15px;
        color: $text-blue;
        font-weight: bold;
    }

    .pushed-top {
        margin-top: 1px;
    }

    .pushed-below {
        margin-top: 14px;
    }
}

.table-header {
    background-color: $table-gray-alpha;
}

.ui-card-parent {
    margin-top: 15px;
    padding: 0 7px;

    .ui-card {
        background-color: $white;
        box-shadow: 0px 5px 25px $border-color;
        padding-bottom: 10px;
        min-height: 230px;
        max-height: 230px;
        z-index: 1;

        .card-header {
            box-shadow: 0 2px 2px $border-color;

            .card-header-title {
                color: $text-blue;
                font-weight: bold;
                padding: 11px 15px;
            }

            .card-header-count {
                color: $text-gray-light;
                font-size: 2em;
                padding: 1px 15px;
            }
        }

        .card-title {
            padding: 15px 15px 12px 15px;

            .glyphicon {
                color: $text-gray-light;
                font-size: 1.25em;
            }

            .title-text {
                color: $text-gray-dark;
                font-size: 1.25em;
                margin-left: 10px;
            }
        }

        .ui-card-table {
            max-height: 131px;
            overflow-y: auto;

            .table-header-parent {
                background-color: $table-gray-alpha;

                .card-table-header {
                    text-transform: uppercase;
                }
            }

            .card-table-header, .card-table-value, .card-table-date {
                padding: 3px 15px;
                height: 25px;
            }

            .card-table-date {
                color: $text-gray-light;
            }

            .operations, .middle-office, .back-office, .front-office, .chartering {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
            }
        }

        .table-big {
            max-height: 183px;
        }
    }
}

.operations {
    background-color: $dept-operations;
    color: $white;
}

.middle-office {
    background-color: $dept-middle-office;
    color: $white;
}

.front-office {
    background-color: $dept-front-office;
    color: $white;
}

.back-office {
    background-color: $dept-back-office;
    color: $white;
}

.chartering {
    background-color: $dept-chartering;
    color: $white;
}

.negative-text {
    color: $text-negative;
}

.positive-text {
    color: $text-positive;
}

.up-caret {
    &:before {
        content: "\25b2"
    }
}

.down-caret {
    &:before {
        content: "\25bc"
    }
}

.left-caret {
    &:before {
        content: "\25C4"
    }
}

.right-caret {
    &:before {
        content: "\25BA"
    }
}

.pull-top {
    margin-top: -5px;
}

.pull-bottom {
    margin-bottom: -5px;
}

.row-separation {
    height: 25px;
    background-color: $table-gray-alpha;
    border-bottom: 1px solid $border-color;
    margin-bottom: 25px;
}

.ui-amendments {
    margin-bottom: 20px;

    .amendment-title {
        padding: 10px 15px;
        background-color: $table-gray-alpha;
        color: $text-blue;
        font-weight: bold;
    }

    .amendment-subtitle {
        background-color: $white;
        padding: 6px 0;
        font-weight: bold;
    }

    .accordion-header {
        background-color: $table-gray-gamma;
        height: 30px;
        line-height: 30px;
    }

    .left-gutter {
        float: left;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: $table-gray-beta;
    }

    .white-bg {
        background-color: $white;
    }

    .text-small {
        height: 19px;
        line-height: 19px;
    }

    .right-column {
        // float: left;
        display: inline-block;
        width: calc(100% - 30px) !important;
    }
}

.scroll-table {
    overflow-y: auto;
}

.scroll-container {
    min-width: 960px;
}

.table-row {
    border-left: 10px solid transparent;
}

.selected-row {
    background-color: $table-gray-beta;
    border-left: 10px solid $button-blue-dark;
}

.grid-1 {
    display: inline-block;
    width: calc(100% / 12);
    float: left;
    padding: 0 15px;
    @media (max-width: 600px) {
        overflow: auto;
    }
}

.grid-2 {
    display: inline-block;
    width: calc(100% / 6);
    float: left;
    padding: 0 15px;
    @media (max-width: 600px) {
        overflow: auto;
    }
}

.grid-3 {
    display: inline-block;
    width: calc(100% / 4);
    float: left;
    padding: 0 15px;
    @media (max-width: 600px) {
        overflow: auto;
    }
}