<tmpl-linkageheader></tmpl-linkageheader>

<section id="linkage-details-view" class="container-fluid linkage-details-parent">

    <div class="row transactions-card-parent" ng-if="vm.isShown">

        <div class="col-sm-12">

            <div class="col-sm-4 ui-card-parent" ng-if="vm.isPurchaseShown || !vm.isTransaction">
                <div class="ui-card">

                    <div class="row nomargin card-header">
                        <div class="col-xs-10 border-right card-header-title">Origin & Loading Date</div>
                        <div class="col-xs-2 card-header-count centered-text">{{vm.purchaseHistoryLength}}</div>
                    </div>

                    <div class="row nomargin card-title">
                        <span class="glyphicon icon-arrow pull-left" aria-hidden="true"></span>
                        <span class="title-text">{{vm.purchase.origin}}</span>
                    </div>

                    <div class="row nomargin ui-card-table">
                        <div class="col-xs-12 border-top border-bottom nopadding table-header-parent">
                            <div class="col-sm-7 col-xs-6 card-table-header">Origin</div>
                            <div class="col-sm-5 col-xs-6 border-left right-text card-table-header">Loading Date</div>
                        </div>

                        <div
                            class="col-xs-12 border-bottom nopadding"
                            ng-repeat="history in vm.purchaseHistory">
                            <div class="col-sm-7 col-xs-6 card-table-value">{{history.origin}}</div>
                            <div class="col-sm-5 col-xs-6 border-left right-text card-table-date">{{history.loadingDate | date: 'MM/dd/yyyy'}}</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-4 ui-card-parent" ng-if="vm.isSaleShown || !vm.isTransaction">
                <div class="ui-card">

                    <div class="row nomargin card-header">
                        <div class="col-xs-10 border-right card-header-title">Destination & Delivery Date</div>
                        <div class="col-xs-2 card-header-count centered-text">{{vm.saleHistoryLength}}</div>
                    </div>

                    <div class="row nomargin card-title">
                        <span class="glyphicon icon-arrow pull-left" aria-hidden="true"></span>
                        <span class="title-text">{{vm.sale.destination}}</span>
                    </div>

                    <div class="row nomargin ui-card-table">
                        <div class="col-xs-12 border-top border-bottom nopadding table-header-parent">
                            <div class="col-sm-7 col-xs-6 card-table-header">Destination</div>
                            <div class="col-sm-5 col-xs-6 border-left right-text card-table-header">Delivery Date</div>
                        </div>

                        <div
                            class="col-xs-12 border-bottom nopadding"
                            ng-repeat="history in vm.saleHistory">
                            <div class="col-sm-7 col-xs-6 card-table-value">{{history.destination}}</div>
                            <div class="col-sm-5 col-xs-6 border-left right-text card-table-date">{{history.deliveryDate | date: 'MM/dd/yyyy'}}</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-4 ui-card-parent">
                <div class="ui-card">

                    <div class="row nomargin card-header">
                        <div class="col-xs-10 border-right card-header-title">Modifications</div>
                        <div class="col-xs-2 card-header-count centered-text">{{vm.changelogLength}}</div>
                    </div>

                    <div class="row nomargin ui-card-table table-big pushed-top">
                        <div class="col-xs-12 border-top border-bottom nopadding table-header-parent">
                            <div class="col-sm-1 col-xs-1 card-table-header"></div>
                            <div class="col-sm-7 col-xs-4 border-left card-table-header">Name</div>
                            <div class="col-sm-3 col-xs-5 border-left right-text card-table-header">Date</div>
                            <div class="col-sm-1 col-xs-1 border-left card-table-header"></div>
                        </div>

                        <div
                            class="col-xs-12 border-bottom nopadding"
                            ng-repeat="change in vm.changelogs">
                            <div class="col-sm-1 col-xs-1 card-table-header">
                                <span class="{{change.department.replace(' ','-') | lowercase}}"></span>
                            </div>
                            <div class="col-sm-7 col-xs-4 border-left card-table-header text-capitalize">{{change.user}}</div>
                            <div class="col-sm-3 col-xs-5 border-left right-text card-table-header">{{change.date | date: 'MM/dd/yyyy'}}</div>
                            <div class="col-sm-1 col-xs-1 border-left card-table-header">
                                <span
                                    class="glyphicon icon-chat clickable"
                                    ng-if="change.comment">
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div
                class="col-sm-4 ui-card-parent"
                ng-if="vm.isShipShown || !vm.isTransaction"
                ng-class="{'col-md-pull-4' : (vm.isShipShown && vm.isTransaction)}">
                <div class="ui-card">

                    <div class="row nomargin card-header">
                        <div class="col-xs-10 border-right card-header-title">Cargo & Vessel</div>
                        <div class="col-xs-2 card-header-count centered-text">{{vm.shippingHistoryLength || 0}}</div>
                    </div>

                    <div class="row nomargin card-title">
                        <span class="glyphicon icon-ship pull-left" aria-hidden="true"></span>
                        <span class="title-text">{{vm.shipping.vessel}}</span>
                    </div>

                    <div class="row nomargin ui-card-table">
                        <div class="col-xs-12 border-top border-bottom nopadding table-header-parent">
                            <div class="col-sm-6 col-xs-4 card-table-header">Vessel</div>
                            <div class="col-sm-3 col-xs-4 border-left right-text card-table-header">Quantity</div>
                            <div class="col-sm-3 col-xs-4 border-left right-text card-table-header">Unit</div>
                        </div>

                        <div
                            class="col-xs-12 border-bottom nopadding"
                            ng-repeat="ship in vm.shippingHistory">
                            <div class="col-sm-6 col-xs-4 card-table-value">{{ship.vessel}}</div>
                            <div class="col-sm-3 col-xs-4 border-left right-text card-table-date">{{ship.quantity}}</div>
                            <div class="col-sm-3 col-xs-4 border-left right-text card-table-date">{{ship.priceUnit | uppercase}}</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-4 ui-card-parent">
                <div class="ui-card">

                    <div class="row nomargin card-header">
                        <div class="col-xs-10 border-right card-header-title">P&L</div>
                        <div class="col-xs-2 card-header-count centered-text">{{vm.pnlVariation}}</div>
                    </div>

                    <div class="row nomargin card-title border-bottom" ng-if="vm.newPnl">
                        <span style="font-size: 18px" class="glyphicon glyphicon-usd"></span>
                        <span style="font-size: 20px">{{vm.newPnl | number}}</span>
                    </div>
                    <div class="row nomargin" ng-if="vm.pnlData && vm.pnlData.length">
                        <highcharts type="area" data="vm.pnlData" width="428" height="122" name="PNL">
                        </highcharts> 
                    </div>
                    <div class="row nomargin" ng-if="!(vm.pnlData && vm.pnlData.length)">
                        <p class="no-data text-bold centered-text border-bottom">PNL Data Unavailable</p>
                    </div>

                </div>
            </div>

            <div class="col-sm-4 ui-card-parent" ng-if="!vm.isTransaction">
                <div class="ui-card">

                    <div class="row nomargin card-header">
                        <div class="col-xs-10 card-header-title">Risk</div>
                    </div>

                    <div class="row nomargin ui-card-table table-big pushed-top">
                        <div class="col-xs-12 border-top border-bottom nopadding table-header-parent">
                            <div class="col-sm-3 col-xs-3 card-table-header">Product</div>
                            <div class="col-sm-4 col-xs-5 border-left card-table-header">Commodity</div>
                            <div class="col-sm-2 col-xs-2 border-left card-table-header">Risk</div>
                            <div class="col-sm-2 col-xs-2 border-left right-text card-table-header">Variation</div>
                        </div>

                        <div
                            class="col-xs-12 border-bottom nopadding"
                            ng-repeat="obj in vm.risk">
                            <div class="col-sm-3 col-xs-3 card-table-header text-capitalize">{{obj.product}}</div>
                            <div class="col-sm-4 col-xs-5 border-left card-table-header text-capitalize">
                                {{obj.product}} {{obj.unit}}
                            </div>
                            <div class="col-sm-2 col-xs-2 border-left card-table-header noflow">{{obj.risk | number}}</div>
                            <div class="col-sm-3 col-xs-2 border-left right-text card-table-header noflow {{obj.variationClass}}">
                                {{obj.variation | number}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="row transactions-card-parent padding-bottom-big" ng-if="vm.isShown">
        
        <div class="col-sm-12">

            <div
                class="summary-button clickable"
                ng-click="vm.toggleSummary()">
                <span
                    class="glyphicon"
                    ng-class="vm.isShown ? 'icon-eye' : 'icon-eyeshut'">
                </span>
                {{vm.isShown ? 'Hide Summary' : 'Show Summary'}}
            </div>
            
        </div>

    </div>

    <div class="row scroll-table" ng-if="!vm.isTransaction">
        <div class="table-label">Linkage Details</div>
        <table class="table table-bordered nomargin">
            <thead class="table-header">
                <tr>
                    <th class="text-uppercase">Type</th>
                    <th class="text-uppercase">Date</th>
                    <th class="text-uppercase">Status</th>
                    <th class="text-uppercase">validated</th>
                    <th class="text-uppercase">instrument Type</th>
                    <th class="text-uppercase">entity</th>
                    <th class="text-uppercase">portfolio</th>
                    <th class="text-uppercase">thirdParty</th>
                </tr>
            </thead>

            <tbody>
                <tr
                    class="clickable table-row"
                    ng-repeat="row in vm.linkageTable"
                    ng-class="{'selected-row': vm.activeRow === $index}"
                    ng-click="vm.setAmendments(row.type, $index)">
                    <td>{{row.type}}</td>
                    <td>{{row.date | date: 'MM/dd/yyyy'}}</td>
                    <td>{{row.status}}</td>
                    <td>{{row.validated}}</td>
                    <td>{{row.instrumentType}}</td>
                    <td>{{row.entity}}</td>
                    <td>{{row.portfolio}}</td>
                    <td>{{row.thirdParty}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row row-separation" ng-if="!vm.isTransaction"></div>

    <div class="row ui-amendments">

        <div class="amendment-title border-top border-bottom" ng-class="{'white-bg': vm.isTransaction}">
            {{!vm.isTransaction ? vm.activeType + ' -' : ''}} {{vm.activeAmendment.length}} Amendments
        </div>

        <div class="col-md-12 nopadding amendment-subtitle scroll-table" ng-if="vm.activeAmendment.length > 0">
            <div class="left-gutter white-bg text-small"></div>
            <div class="right-column">
                <div class="grid-2">DEPARTMENT</div>
                <div class="grid-1">ACTION</div>
                <div class="grid-2">DATE/TIME</div>
                <div class="grid-1">USER</div>
                <div class="grid-2">TERMINAL ID</div>
                <div class="grid-1">P&L</div>
                <div class="grid-3">RISK (OIL/GAS/LNG/GOAL)</div>
            </div>
        </div>

        <div
            class="col-md-12 nopadding border-top scroll-table"
            ng-repeat="obj in vm.activeAmendment"
            ng-click="vm.setActiveTab($index)">
            <div
                class="left-gutter border-bottom clickable"
                ng-class="($index === vm.activeTab) ? 'down-caret' : 'right-caret'">
            </div>
            <div class="right-column accordion-header border-bottom clickable">
                <div class="grid-2 border-left {{obj.amendmentDetail.departmentClass}}">{{obj.amendmentDetail.department}}</div>
                <div class="grid-1 border-left">{{obj.amendmentDetail.action}}</div>
                <div class="grid-2 border-left">{{obj.amendmentDetail.date | date: 'MM/dd/yyyy hh:mm'}}(GMT)</div>
                <div class="grid-1 border-left">{{obj.amendmentDetail.user}}</div>
                <div class="grid-2 border-left">{{obj.amendmentDetail.terminalId}}</div>
                <div class="grid-1 border-left {{obj.amendmentDetail.pnlClass}}">{{obj.amendmentDetail.pnl | number}}</div>
                <div class="grid-3 border-left">{{obj.amendmentDetail.risk}}</div>
            </div>

            <div
                class="col-md-12 nopadding table-responsive pull-top pull-bottom"
                ng-class="{'hidden': ($index !== vm.activeTab)}">
                <div class="left-gutter" ng-style="{height: ((obj.amendmentRows.length + 1) * 30 + 1) + 'px'}"></div>
                <div class="right-column">
                    <table class="table-bordered table-condensed col-md-12">
                        <thead class="table-header">
                            <tr>
                                <th>Object Type</th>
                                <th>Object Refernce</th>
                                <th>State Before</th>
                                <th>State After</th>
                                <th>Sub-Object Type</th>
                                <th>Sub-Object Reference</th>
                                <th>Action</th>
                                <th>Property Name</th>
                                <th>Display Name</th>
                                <th>Old Value</th>
                                <th>New Value</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="rows in obj.amendmentRows">
                                <td>{{rows.objectType}}</td>
                                <td>{{rows.objectReference}}</td>
                                <td>{{rows.stateBefore}}</td>
                                <td>{{rows.stateAfter}}</td>
                                <td>{{rows.subObjectType}}</td>
                                <td>{{rows.subObjectReference}}</td>
                                <td>{{rows.action}}</td>
                                <td>{{rows.propertyName}}</td>
                                <td>{{rows.displayName}}</td>
                                <td>{{rows.oldValue}}</td>
                                <td>{{rows.newValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</section>