.portfolio-transactions {
    padding: 10px;
}

.portfolio-transactions-tabs {
    .nav.nav-pills {
        li {
            a,
            a:hover {
                background-color: $button-gray;
                color: $white;
            }
            a {
                border-radius: 5px;
                padding: 1px 15px;
            }
        }
        li.active {
            a,
            a:hover {
                background-color: $button-blue-dark;
            }
        }
    }
}

.portfolio-transactions-tabs {
    margin-bottom: 10px;
}

.portfolio-transactions-action-container {
    .portfolio-transactions-tabs {
        float: left;
        margin-right: 20px;
    }
    .selected-linkage {
        float: left;
        padding: 2px 15px;
        color: $white;
        background-color: #5cb85c;
        border-radius: 5px;
    }
}

.transactions-grid {
    height: 150px;
    .ui-grid-cell {
        height: auto;
    }
    .ui-grid-header-cell-wrapper {
        .ui-grid-icon-angle-down {
            display: none;
        }
    }
    .ui-grid-cell-contents {
        padding: 10px;
        text-align: center;
    }
    .ui-grid-header-cell {
        background-color: $table-gray-gamma;
    }
    .ui-grid-row:nth-child(odd),
    .ui-grid-row:nth-child(even) {
        .ui-grid-cell {
            background-color: $table-gray-alpha;
        }
    }
}

.watermark {
    position: absolute;
    top: 50px;
    padding: 20px;
    width: 100%;
    text-align: center;
}
