<div class="portfolio-transactions">
    <div class="portfolio-transactions-action-container clearfix">
        <div class="portfolio-transactions-tabs">
            <ul class="nav nav-pills">
                <li role="presentation" data-tab="sale" ng-class="{active: 'sale'==vm.selectedTab}" ng-click="vm.updateTable($event)"><a class="" href="#">Sale</a></li>
                <li role="presentation" data-tab="purchase" ng-class="{active: 'purchase'==vm.selectedTab}" ng-click="vm.updateTable($event)"><a class="" href="#">Purchase</a></li>
                <li role="presentation" data-tab="shipping" ng-class="{active: 'shipping'==vm.selectedTab}" ng-click="vm.updateTable($event)"><a class="" href="#">Shipping</a></li>
                <li role="presentation" data-tab="financial" ng-class="{active: 'financial'==vm.selectedTab}" ng-click="vm.updateTable($event)"><a class="" href="#">Financials</a></li>
            </ul>
        </div>
        <div ng-if="vm.selectedLinkage" class="selected-linkage">
            <span>{{vm.selectedLinkage}}</span>
            <span ng-if="!vm.showSelectedLinkageTransactions" class="clickable glyphicon glyphicon-remove" ng-click="vm.toggleTransactionList()"></span>
            <span ng-if="vm.showSelectedLinkageTransactions" class="clickable glyphicon glyphicon-ok" ng-click="vm.toggleTransactionList()"></span>
        </div>
    </div>
    <div class="portfolio-transactions-grids">
        <div ng-if="('sale'==vm.selectedTab)" id="transactions-grid" ui-grid="vm.gridOptions" class="grid transactions-grid">
            <div class="watermark" ng-show="!vm.saleData.length">No Sale Transaction part of this linkage.</div>
        </div>
        <div ng-if="('purchase'==vm.selectedTab)" id="transactions-grid" ui-grid="vm.gridOptions" class="grid transactions-grid">
            <div class="watermark" ng-show="!vm.purchaseData.length">No Purchase Transaction part of this linkage.</div>
        </div>
        <div ng-if="('shipping'==vm.selectedTab)" id="transactions-grid" ui-grid="vm.gridOptions" class="grid transactions-grid">
            <div class="watermark" ng-show="!vm.shippingData.length">No Shipping Transaction part of this linkage.</div>
        </div>
        <div ng-if="('financial'==vm.selectedTab)" id="transactions-grid" ui-grid="vm.gridOptions" class="grid transactions-grid">
            <div class="watermark" ng-show="!vm.financialData.length">No Financial Transaction part of this linkage.</div>
        </div>
    </div>
</div>
